@font-face{
    src: url(../font/Roboto.ttf);
    font-family: "Roboto"
}
@font-face{
    src: url(../font/Montser.ttf);
    font-family: "Montser"
}
@font-face{
    src: url(../font/fontello.ttf);
    font-family: "Fontello"
}
@font-face{
    src: url(../font/fontellotwo.ttf);
    font-family: "FontelloT"
}
html{
    font-size: 10px;
}
body{
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.Header{
    padding-top:2%; 
    width: 100%;
    height: 100vh;
    background-image: url(../img/Home.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.507);
}
.Logo{
    margin:0%  5%;
    width: 10%;
    font-family: "Montser";
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
}
.Menu-title{
    font-family:"Montser";
    font-size: 1.4rem;
    text-decoration: none;
    color: white; 
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Header-maintitle{
    margin-top:270px;
    margin-bottom: 0px;
    text-align:center;
    font-family:"Montser";
    font-size: 4.8rem;
    color: white;
}
.Header-title{ 
    margin-bottom: 40px;
    text-align:center;
    font-family:"Roboto";
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.Header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-button{
    padding: 1% 0.5%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
}
.button-text{
    font-family:"Montser";
    font-size: 1.6rem; 
    color: white;
    text-decoration: none;
    text-align: center;
}
.services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-maintitle{
    margin-top:100px;
    margin-bottom: 0px;
    text-align:center;
    font-family:"Montser";
    font-size: 2rem;
    color: #686868;
}
.services-border{
    margin:20px 0px;
    width: 5%;
    border-top: 2px solid #686868;
}
.services-title{ 
    margin-top:0px;
    margin-bottom: 40px;
    text-align:center;
    font-family:"Roboto";
    font-size: 1.6rem;
    font-weight: 300;
    color: #686868;
}
.services-icon{
    margin: 30px auto;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-family: "Fontello";
    font-size: 4rem;
    color: #c0301c;
}
.about-title:hover .services-icon{
    color: white;
    background-color: #c0301c;
}
.services-title{
    font-family:"Montser";
    font-size: 1.4rem;
    color: #686868;
}
.services-secondtitle{
    font-family:"Roboto";
    font-size: 1.4rem;
    color: #686868;
}
.services-about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-title{
    width: 30%;
}
.services{
    text-align: center;
    margin-bottom: 140px;
}
.aboutus-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus-maintitle{
    margin-top:0px;
    margin-bottom: 0px;
    text-align:center;
    font-family:"Montser";
    font-size: 2rem;
    color: #686868;
}
.aboutus-border{
    margin:20px 0px;
    width: 5%;
    border-top: 3px solid #686868;
}
.aboutus-title{ 
    margin-top:0px;
    margin-bottom: 70px;
    text-align:center;
    font-family:"Roboto";
    font-size: 1.6rem;
    font-weight: 300;
    color: #686868;
}
.aboutus-text{
    margin-top: 0px;
    margin-bottom: 70px;
    width: 45%;
    font-family:"Roboto";
    font-size: 1.4rem;
    color: #686868;
}
.aboutus-gallery-maintitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.teamMemberImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 250px;
}
.teamMemberImg:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.527);
}
.teamMemberImg:hover .aboutus-icon{
    display: block;
}
.aboutus-icon{
    margin: 0px 5px 10px;
    display: none;
    font-family: "Fontello";
    color: white;
    font-size: 2.5rem;
}
.aboutus-iconFirst{
   color: #c0301c;
}
.FirstMember{
    background-image: url(../img/member4.jpg);
}
.SecondMember{
    background-image: url(../img/member3.jpg);
}
.ThirdMember{
    background-image: url(../img/member2.jpg);
}
.FoursMember{
    background-image: url(../img/member1.jpg);
}
.aboutus-img-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img-maintitle{
    font-family: "Montser";
    font-size:1.4rem; 
    color: #686868;
    text-align: center;
}
.img-title{
    font-family: "Roboto";
    font-size:1.4rem; 
    color: #686868;
    text-align: center;
}
.works-maintitle{
    margin-top:140px;
    margin-bottom: 0px;
    text-align:center;
    font-family:"Montser";
    font-size: 2rem;
    color: #686868;
}
.works-border{
    margin:20px auto;
    width: 5%;
    border-top: 3px solid #686868;
}
.works-title{ 
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin:0 auto;
}
.Itm-title{
    text-align:center;
    font-family:"Roboto";
    font-size: 1.6rem;
    font-weight: 300;
    color: #686868;
    margin-bottom: 70px;
}
.Itm-title:hover{
    color: #c0301c
}
.works-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.firstImg{
    background-image: url(../img/gallery1.jpg);
}
.secondImg{
    background-image: url(../img/gallery2.jpg);
}
.thirdImg{
    background-image: url(../img/gallery3.jpg);
}
.foursImg{
    background-image: url(../img/gallery4.jpg);
}
.fivesImg{
    background-image: url(../img/gallery5.jpg);
}
.sixesImg{
    background-image: url(../img/gallery6.jpg);
}
.sevensImg{
    background-image: url(../img/gallery7.jpg);
}
.eightsImg{
    background-image: url(../img/gallery8.jpg);
}
.ninesImg{
    background-image: url(../img/gallery9.jpg);
}
.works-img{
    background-size: cover;
    width: 30%;
    height: 320px;
    margin-bottom: 20px;

}
.works-img:hover{
    box-shadow:inset 0 0 0 1000px rgba(206, 0, 0, 0.521)
}
.image__content{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.works-img:hover .image-maintitle{
    display: block;
}
.image-maintitle{
    display: none;
    margin-top: 100px;
    font-family: "Montser";
    font-size: 1.8rem;
    color: white;
}
.works-img:hover .image-title{
    display: block;
}
.image-title{
    display: none;
    font-family: "Roboto";
    font-size: 1.4rem;
    color: white;
}
.works-img:hover .gallery-button{
    display: block;
}
.gallery-button{
    display: none;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px;
    background-color: white;
}
.works-img:hover .button-gallery{
    display: block;
}
.button-gallery{
    display: none;
    font-family:"Montser";
    font-size: 1.8rem; 
    font-weight: 600;
    color: rgba(206, 0, 0, 0.521);
    text-decoration: none;
    text-align: center;
}
.gallery-background{
    margin-top: 90px;
    width: 100%;
    height: 370px;
    background-image: url(../img/section.png);
    box-shadow:inset 0 0 0 1000px rgba(206, 0, 0, 0.521);
    background-size: cover; 
}
.gallery-itm{
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gallery-title{
    margin: 10px 0px;
    font-family: "Roboto";
    font-size: 3rem;
    color: white;
    text-align: center;
}
.button-galleryBg{
    font-family:"Montser";
    font-size: 1.8rem; 
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
}
.galleryBg-button{
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
}
.blog-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-mainitm{
    font-family: "Montser";
    font-size: 1.6rem;
    color: #686868;
}
.blog-content:hover .redtext{
    color: #c0301c;
}
.blog-itm{
    font-family: "Roboto";
    font-size: 1.3rem;
    color: #686868;
}
.blog-img{
    margin: 20px 20px 20px 0px;
}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montser";
    font-size: 2.4rem;
    font-weight: 600;
    color: #686868;
    border: 3px solid #686868;
    width: 75px;
    margin: 20px 20px 0px 0px;
}
.blog-maintitle{
    width: 80%;
}
.date-title{
    margin: 0px 0px 10px;
}
.date-titleitm{
    margin: 10px 0px 0px;
}
.title-content{
    display: flex;
    flex-direction: row;
}
.blog-about{
    font-family: "Roboto";
    font-size: 1.4rem;
    color: #686868;
}
.read-more{
    font-weight: 300;
    margin-top: 70px;
    font-family: "Montser";
    font-size: 1.6rem;
    color: #686868;
}
.clients{
    margin-top: 8rem;
    padding-top: 8rem;
    background-color: #f8f8f8;
}
.clients-logo{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.client-image{
    margin: 0rem 1rem 3rem;
}
.clients-contant{
    font-family: "Roboto";
    font-size: 1.8rem;
    color: #686868;
    text-align: center;
    margin-bottom: 3rem;
}
.clients-title{
    font-family: "Roboto";
    font-size: 2rem;
    color: #686868;
    text-align: center;
    padding-bottom: 8rem;
    margin-bottom: 0rem;
}
.contact{
    padding-bottom: 8rem;
}
.contact-logo{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.contact-icon{
    font-family: "FontelloT";
    font-size: 1.6rem;
    color: #686868;
    margin-right: 1rem;
}
.contact-item{
    font-family: "Roboto";
    font-size: 1.4rem;
    color: #686868;
}
.contact-maintitle{
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #686868;
}
.contact-contant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contact-input{
    width: 44%;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #686868;
    padding: 1.4rem ;
    margin-top: 2rem;
    border:1px solid #686868;
}
.contact-input:focus {
    outline: 0;
    outline-offset: 0;
}
.contact-input:hover {
    border:1px solid #c0301c;
}
.contact-inputbig{
    width: 96%;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #686868;
    padding: 1.4rem ;
    margin-top: 2rem;
    border:1px solid #686868;
} 
.contact-inputbig:focus {
    outline: 0;
    outline-offset: 0;
}
.contact-inputbig:hover {
    border:1px solid #c0301c;
} 
.contact-button{
    width: 28%;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #686868;
    padding: 1.4rem ;
    margin-top: 2rem;
    border:1px solid #686868;
}
.contact-send{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact-button-text{
    font-family: "Roboto";
    font-size: 1.2rem;
    color: #686868;
}
.footer{
    background-color: #c0301c;    
}
.footer-links{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-link{
    margin: 0;
    padding: 8rem 1rem 1rem;
    font-family: "Fontello";
    color: white;
    font-size: 2.5rem;
}
.footer-copyright:before{
    width:20%;
    height:2px;
    display:block;
    content:"";
    background-color:white;
    margin:0 auto;
    position: relative;
    bottom: 2rem;
}
.footer-copyright{
    font-family: "Roboto";
    font-size: 1.2rem;
    color: white;
    margin-bottom: 6rem;
}
.footer-contant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width: 1160px){
    .container{
        width: 90%;
    }
    .aboutus-img-gallery{
        flex-wrap: wrap;
    }
    .works-title{
        width: 60%;
    }
}
@media(max-width: 768px){
    .html{
        font-size: 8px;
    }
    .works-title{
        width: 98%;
        flex-direction: column;
    }
    .Menu-title{
        display: none;
    }
    .services-about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-title{
        width: 50%;
    }
    .works-img{
        width: 49%;
    }
    .blog-content{
        flex-direction: column;
    }
    .Itm-title{
        margin-bottom: 1rem;
    }
    .contact-contant{
        flex-direction: column;
    }
    .contact-text{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;  
    }
}
@media(max-width:590px){
    .aboutus-gallery-maintitle{
        flex-direction: column;
        align-items: center;
    }
    .aboutus-text{
        width: 80%;
    }
    .gallery-title{
        font-size: 2.6rem;
    }
    .gallery-itm{
        padding-top: 7rem;
    }
    .works-img{
        width: 80%;
    }
    .about-title{
        width: 90%;
    }
    .Header-maintitle{
        margin-top: 20rem;
    }
    .Logo{
        width: 30%;
    }
    .contact-input{
        width: 100%;
    }
    .contact-inputbig{
        width: 94%;
    }
    .contact-send{
        flex-direction: column-reverse;
    }
    .contact-button-text{
        text-align: center;
    }
    .contact-button{
        width: 50%;
    }
    .contact-text{
        flex-direction: column;
        align-items: center;
    }
    .contact-logo{
        justify-content: center;
    }
    .contact-maintitle{
        text-align: center;
    }
}
@media(max-width:320px){
    .contact-inputbig{
        width: 89%;
    }
}